.bodyBackground 
{
    background-position: center;
    background-size:contain;
	background:url(concrete-road.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background:url(parkingLot.jpg);
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2); 
}

#hd3{
	width: 20%;
    color: rgb(255, 0, 0);
	background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2); 
	font-family: 'League Spartan';
}
h1,h2,h4
{
	color: rgb(255, 241, 43) !important;
}
